@charset "UTF-8";

*{/* height: 100%; */font-family: 'Times New Roman', Times, serif;}

p{text-align: justify;
    color: ;
}

h1{text-align: center;
    background-image: linear-gradient(to bottom, #034159, #025951, #02735E, #038C3E);
    border-radius: 50px;
    color: darkblue;
    text-shadow: 1.5px 1.5px 0px rgba(1, 1, 187, 0.623)}

body{background-image: linear-gradient(to bottom, #034159, #025951, #02735E, #038C3E);}

h2{
    color: darkblue;
}

main{background-color: rgba(209, 209, 209, 0.562);
    box-shadow: 5px 5px 10px linen;
    border-radius: 50px; 
    color: black;
    width: 650px;
    padding: 25px;
    margin: auto;
}

