@charset "UTF-8";
*{padding: 0%;
margin: 0%;}
body{
    background-color: black;
}
main{
    background-color: white;
    box-shadow: 0px -10px 1px rgba(255, 255, 255, 0.979);
}
header{
    color: white;
    padding: 60px;
    text-align: center;
    min-height: 150px;
}
header > h1{
    font-family:'Arial','Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 600%;
    padding-bottom: 30px;
}
header p{
    color: white;
    text-decoration: none;
    font-size: 16px;
}
header strong:hover{
    text-decoration: underline;
}
main p{
    line-height: 55px;
    font-size: 280%;
    text-align: left;
    padding-left: 35px;
    width: 93%;
    min-height: 500px;
    max-width: 1000px;
}
.p1{
    padding-top: 60px;
    padding-bottom: 80px;
}
div.flor{background-image: url(imagens/background001.jpg);
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-position: center center;
    background-size: 140%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    position: relative;

}
div.trans{
    padding-right: 10px;
    color: white;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.404);
    text-shadow: 1px 1px 1px black;
    top: 20%;
    left: 10%;
}
.p2{
    padding-top: 60px;
}
div.livro{
    background-image: url(imagens/background002.jpg);
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-position: center center;
    background-size: 140%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    position: relative;

}
div.letra2{
    padding-right: 10px;
    color: white;
    position: absolute;
    background-attachment: scroll;
    background-color: rgba(0, 0, 0, 0.404);
    text-shadow: 1px 1px 1px black;
    top: 2%;
    left: 10%;
}
footer p,a{
    color: white;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}
footer a:hover{
text-decoration: underline;
padding: 8px;
border-radius: 10px;
background-color: lightgray;
transition-duration: 2s;
}
footer a:active{
    text-decoration: underline;
padding: 8px;
border-radius: 10px;
background-color: darkgray;
}